# Ignore everything
/*

# Don't ignore src directory
!/src/

# Don't ignore .gitignore
!.gitignore

# Don't ignore csv_example
!data_example.csv
!data.csv
!myworld_640610682.ttt

# Ignore common ROS2 build artifacts within src
/src/**/build/
/src/**/install/
/src/**/log/
/src/**/__pycache__/
/src/**/*.pyc
